In [0]:
%sql 
create catalog if not exists dbx;
create schema if not exists dbx.hr;

###DIM REGION

In [0]:
%sql 
CREATE TABLE IF NOT EXISTS dbx.hr.dim_region (

    region_key BIGINT,
    region_name STRING,
    geo STRING,
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_region VALUES
(1,'APAC','Asia Pacific',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(2,'EMEA','Europe Middle East Africa',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(3,'NA','North America',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(4,'LATAM','Latin America',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM LOCATION

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_location (

    location_key BIGINT,
    city STRING,
    state STRING,
    country STRING,
    region_key BIGINT,
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_location VALUES
(1000,'Hyderabad','Telangana','India',1,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(1001,'Bangalore','Karnataka','India',1,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(1002,'Mumbai','Maharashtra','India',1,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(1003,'Pune','Maharashtra','India',1,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(1004,'London','England','UK',2,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM BUSINESS UNIT

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_business_unit (

    business_unit_key BIGINT,
    business_unit_id STRING,
    business_unit_name STRING,
    cost_center STRING,
    region_key BIGINT,
    headquarters_location_key BIGINT,
    is_active STRING,
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_business_unit VALUES

(1,'BU01','Technology','CC1000',1,1000,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(2,'BU02','Human Resources','CC2000',1,1002,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(3,'BU03','Finance','CC3000',1,1003,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(4,'BU04','Sales','CC4000',2,1004,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(5,'BU05','Operations','CC5000',1,1001,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM DEPARTMENT

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_department (

    department_key BIGINT,
    department_id STRING,
    department_name STRING,
    business_unit_key BIGINT,
    location_key BIGINT,
    is_active STRING,
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_department VALUES

(10,'D10','Information Technology',1,1000,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(20,'D20','Human Resources',2,1002,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(30,'D30','Finance',3,1003,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(40,'D40','Sales',4,1004,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(50,'D50','Operations',5,1001,'Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM JOB

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_job (

    job_key BIGINT,
    job_id STRING,
    job_title STRING,
    job_level STRING,
    min_salary DECIMAL(12,2),
    max_salary DECIMAL(12,2),
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_job VALUES

(100,'IT Analyst','Analyst','L1',50000,70000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(101,'Senior IT Analyst','Senior Analyst','L2',70000,90000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(102,'IT Manager','Manager','M1',100000,130000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(103,'IT Director','Director','D1',140000,180000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),

(200,'HR Executive','Executive','L1',40000,60000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(201,'HR Manager','Manager','M1',70000,95000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),

(300,'Financial Analyst','Analyst','L1',60000,80000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(301,'Senior Financial Analyst','Senior Analyst','L2',80000,100000,CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM EMPLOYMENT STATUS

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_employment_status (

    employment_status_key BIGINT,
    employment_status STRING,
    status_category STRING,
    is_active STRING,
    created_ts TIMESTAMP,
    updated_ts TIMESTAMP
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_employment_status VALUES

(1,'Active','Active','Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(2,'On Leave','Active','Y',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(3,'Resigned','Inactive','N',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
(4,'Terminated','Inactive','N',CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP());

###DIM EMPLOYEE

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.dim_employee (

    employee_key BIGINT,
    employee_id STRING,
    name STRING,
    department_key BIGINT,
    job_key BIGINT,
    location_key BIGINT,
    manager_key BIGINT,
    employment_status_key BIGINT,
    salary DECIMAL(12,2),
    effective_start_date DATE,
    effective_end_date DATE,
    is_current STRING
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.dim_employee VALUES

(10001,'E101','Alice Johnson',10,101,1000,9001,1,80000,'2023-07-01',NULL,'Y'),
(10002,'E102','Bob Smith',10,100,1001,9001,1,80000,'2021-04-12',NULL,'Y'),
(10003,'E103','Carol White',20,200,1002,9002,1,55000,'2023-01-01',NULL,'Y'),
(10004,'E104','David Brown',20,201,1002,9003,1,75000,'2022-06-01',NULL,'Y'),
(10005,'E105','Eve Davis',30,300,1003,9004,1,70000,'2023-02-10',NULL,'Y'),
(10006,'E106','Frank Miller',30,301,1003,9004,1,90000,'2021-11-11',NULL,'Y'),
(10007,'E107','Grace Wilson',10,102,1000,9005,1,120000,'2018-04-18',NULL,'Y'),
(10008,'E108','Helen Taylor',10,103,1000,NULL,1,150000,'2017-08-30',NULL,'Y');

###FACT HR EVENTS

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.fact_hr_events (

    event_key BIGINT,
    employee_key BIGINT,
    date_key INT,
    event_type STRING
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.fact_hr_events VALUES

(1,10001,20230701,'Promotion'),
(2,10003,20230101,'Salary Revision'),
(3,10004,20220601,'Promotion'),
(4,10005,20230210,'New Hire');

###FACT PAYROLL

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.fact_payroll (

    payroll_key BIGINT,
    employee_key BIGINT,
    salary DECIMAL(12,2),
    bonus DECIMAL(12,2)
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.fact_payroll VALUES

(1,10001,80000,5000),
(2,10002,65000,3000),
(3,10007,120000,10000),
(4,10008,150000,15000);

###FACT ATTENDANCE

In [0]:
%sql
CREATE TABLE IF NOT EXISTS dbx.hr.fact_attendance (

    attendance_key BIGINT,
    employee_key BIGINT,
    hours_worked DECIMAL(5,2)
)
USING DELTA;

In [0]:
%sql
INSERT INTO dbx.hr.fact_attendance VALUES

(1,10001,8),
(2,10002,7.5),
(3,10003,8.5),
(4,10004,9);